<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Tài khoản </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tài khoản cá nhân</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <!--        <div class="table-title">-->
        <!--          <div class="row">-->
        <!--            <div class="col-xs-6">-->
        <!--              <h2>DANH SÁCH TÀI KHOẢN</h2>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--table-->
        <app-user-infor></app-user-infor>
        <!--table-->
      </div>
    </div>
  </div>
</div>




