<ng-template [ngIf]="this.data.action !== 'details'" [ngIfElse]="detailsTemp">
  <div class="product-creation-wrapper">
    <form #myForm="ngForm">
      <div class="productName">
        <mat-form-field appearance="standard">
          <mat-label> Tên sản phẩm</mat-label>
          <input matInput id="productName" name="productName" [(ngModel)]="this.data.data.productName"  #productName="ngModel"
                 required />
        </mat-form-field>
        <div class="validate" *ngIf="productName.invalid && (productName.dirty || productName.touched)"
             class="alert">
          <div class="required" *ngIf="productName.errors?.['required']">
            <strong>Tên sản phảm không được bỏ trống</strong>
          </div>
        </div>
      </div>
      <div class="productPrice">
        <mat-form-field appearance="standard">
          <mat-label> Giá sản phẩm</mat-label>
          <input matInput type="number" min="0" id="productPrice" name="productPrice" [(ngModel)]="this.data.data.productPrice" #productPrice="ngModel" required />
        </mat-form-field>
        <div class="validate" *ngIf="productPrice.invalid && (productPrice.dirty || productPrice.touched)"
             class="alert">
          <div class="required" *ngIf="productPrice.errors?.['required']">
            <strong>Giá sản phảm không được bỏ trống</strong>
          </div>
        </div>
      </div>
      <div class="description">
        <mat-form-field appearance="standard">
          <mat-label> Mô tả</mat-label>
          <textarea placeholder="mô tả ngắn*"  matInput [(ngModel)]="this.data.data.productDescription"></textarea>
        </mat-form-field>
      </div>
      <div class="avatar">
        <mat-label> Ảnh</mat-label>
        <img style="width: 60px;height: 80px;margin-right: 10px;" [src]="this.data.data.productIcon |  image1" alt="product">
        <input type="file" (change)="changeImage($event)" />
        <!-- <input matInput [(ngModel)]="this.data.data.productIcon"> -->
      </div>
      <div class="productStock">
        <mat-form-field appearance="standard">
          <mat-label> Số lượng</mat-label>
          <input matInput [(ngModel)]="this.data.data.productStock" type="number" min="0"
                 id="productStock"  name="productStock" #productStock="ngModel" required
          />
        </mat-form-field>
        <div class="validate" *ngIf="productStock.invalid && (productStock.dirty || productStock.touched)"
             class="alert">
          <div class="required" *ngIf="productStock.errors?.['required']">
            <strong>Số lượng sản phảm không được bỏ trống</strong>
          </div>
        </div>
      </div>
      <div class="category">
        <mat-form-field appearance="fill">
          <mat-label>đơn hàng</mat-label>
          <mat-select [(ngModel)]="this.data.data.categoryType">
            <mat-option *ngFor="let cat of categories" [value]="cat.categoryId">
              {{ cat.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="text-center">
        <button
          (click)="CreateOrUpdateProduct()"
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!myForm.valid"
        >
          {{ btnName }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #detailsTemp>
  <div class="product-infor">
    <div style="width: 50%">Mã sản phẩm:</div>
    <div style="width: 50%">
      {{ this.data.data.productId }}
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Tên sản phẩm:</div>
    <div style="width: 50%">
      {{ this.data.data.productName }}
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Số lượng:</div>
    <div style="width: 50%">
      {{ this.data.data.productStock }}
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Giá sản phẩm:</div>
    <div style="width: 50%">
      {{ this.data.data.productPrice }}
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Tên sản phẩm:</div>
    <div style="width: 50%">
      {{ this.data.data.productName }}
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Hình ảnh:</div>
    <div style="width: 50%">
      <img
        style="width: 300px"
        src="{{ this.data.data.productIcon | image1 }}"
        alt="san pham"
      />
    </div>
  </div>
  <div class="product-infor">
    <div style="width: 50%">Mô tả:</div>
    <div style="width: 50%">
      {{ this.data.data.productDescription }}
    </div>
  </div>
</ng-template>
