<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Danh mục</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách danh mục</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <!--        <div class="table-title">-->
        <!--          <div class="row">-->
        <!--            <div class="col-xs-6">-->
        <!--              <h2>DANH SÁCH TÀI KHOẢN</h2>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--table-->
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div style="width: 50%;">
            <mat-form-field appearance="standard">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="BB01" #input>
            </mat-form-field>
          </div>
          <div>
            <button (click)="addCategory()" mat-raised-button color="primary"><i class="material-icons">add</i> Thêm </button>
          </div>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">


            <!-- Symbol Column -->
            <ng-container matColumnDef="categoryId">
              <th mat-header-cell *matHeaderCellDef>Mã </th>
              <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryName">
              <th mat-header-cell *matHeaderCellDef> Tên danh mục</th>
              <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryType">
              <th mat-header-cell *matHeaderCellDef> Loại danh mục</th>
              <td mat-cell *matCellDef="let element"> {{element.categoryType}} </td>
            </ng-container>

            <ng-container matColumnDef="createTime">
              <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
              <td mat-cell *matCellDef="let element"> {{element.createTime | date: 'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="updateTime">
              <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
              <td mat-cell *matCellDef="let element"> {{element.updateTime | date: 'dd-MM-yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.status==0"
                                  (change)="toggleChangeEvent($event,element.categoryId)"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Hoạt động</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button mat-button color="accent"><i class="material-icons" (click)="deleteCategory(element.categoryId)">delete</i></button>
                  <button mat-button color="warn"><i class="material-icons" (click)="editCategory(element)">edit</i></button>
                  <button mat-button color="primary"><i class="material-icons" (click)="viewDetails(element)">visibility</i></button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        <!--table-->
      </div>
    </div>
  </div>
</div>
