<div class="product-creation-wrapper">

  <mat-form-field appearance="standard">
    <mat-label> Tên danh mục</mat-label>
    <input matInput [(ngModel)]="this.data.data.categoryName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Loại danh mục</mat-label>
    <mat-select [(ngModel)]="this.data.data.categoryType">
      <mat-option *ngFor="let cat of map" [value]="cat.id">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text-center">
    <button (click)="CreateOrUpdateCategory()" mat-raised-button type="button" color="primary">
      {{btnName}}
    </button>
  </div>


</div>
