<div id="cart" style="margin: 40px">
  <!--      <p class="display-4 mb-5">Đơn hàng của bạn </p>-->
  <!--Section: Block Content-->
  <section>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-8">
        <p class="float-right">Đơn hàng của bạn ( ) sản phẩm</p>
        <!--            <button routerLink="/shop" class="btn btn-warning float-right">Tiếp tục mua hàng </button>-->
        <a routerLink="/shop" class="btn btn-warning left"
          >Tiếp tục mua hàng <i class="fas fa-arrow-right"></i
        ></a>
        <!-- Section: Filters -->
        <div class="col-12" style="margin: auto">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of items">
                <tr>
                  <th class="align-middle" scope="row">
                    <a routerLink="/product/{{ item.productInfo.productId }}"
                      ><img
                        height="100px"
                        src="{{ item.productInfo.productIcon | image }}"
                        alt="{{ item.productInfo.productName }}"
                    /></a>
                  </th>
                  <td class="align-middle">
                    <a routerLink="/product/{{ item.productInfo.productId }}">{{
                      item.productInfo.productName
                    }}</a>
                  </td>
                  <td class="align-middle">
                    {{ item.productInfo.productPrice | currency: "VND":true }}
                  </td>

                  <td class="align-middle">
                    <a (click)="minusOne(item.productInfo)"
                      ><i class="fa fa-minus"></i
                    ></a>
                    <input
                      min="1"
                      id="{{ item.productInfo.productId }}"
                      [max]="item.productInfo.productStock"
                      [(ngModel)]="item.quantity"
                      (change)="onChange(item.productInfo)"
                      size="5"
                      type="number"
                      required
                      name="count"
                    />
                    <a (click)="addOne(item.productInfo)">
                      <i class="fa fa-plus"></i
                    ></a>
                  </td>

                  <td class="align-middle">
                    {{ item.productInfo.productPrice * item.productInfo.count | currency: "VND":true}}
                  </td>
                  <td class="align-middle">
                    <a
                      (click)="remove(item.productInfo)"
                      routerLink="./"
                      class="btn btn-warning"
                    >
                      <i class="fas fa-arrow-right">Xoá</i>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4">
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="mb-3"><strong>Tổng cộng</strong></h5>

            <ul class="list-group list-group-flush">
             <!--                   <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                  &lt;!&ndash;              {{ this.translate.data["Name"] | translate }}:&ndash;&gt;
                                  <span>{{currentUser?.name}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                  &lt;!&ndash;              {{ this.translate.data["Email"] | translate }}:&ndash;&gt;
                                  <span>{{currentUser?.account}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                  Address
                                  <span style="margin-left: 58px">{{currentUser?.address}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                  Phone
                                  <span>{{currentUser?.phone}}</span>
                                </li>-->

              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                *ngIf="productInOrders?.length >= 0; else empty"
              >
<!--                <div>-->
<!--                  <strong> The total amount is </strong>-->
<!--                </div>-->

                <span
                  ><strong>Total : {{ total | currency: "VND":true}}</strong></span
                >
              </li>
            </ul>
            <button routerLink="/checkout" class="btn btn-warning float-right">
              Thanh toán
            </button>
          </div>
        </div>
        <ng-template #empty>
          <h4 class="text-muted text-center">
            Cart is empty. Go to get something!
          </h4>
        </ng-template>
      </div>
    </div>
  </section>
  <!--Section: Block Content-->
  <br /><br /><br /><br />
  <!-- //contacts -->
</div>

