<!--<div class="container-fluid pt-5">-->
<!--  <div class="row px-xl-5">-->
<!--    <div class="col-lg-4" style="margin-left: 600px">-->
<!--      &lt;!&ndash;form &ndash;&gt;-->
<!--      <h4 class="font-weight-semi-bold mb-4" style="text-align: center">Sign up</h4>-->
<!--      <form #form="ngForm" (ngSubmit)="onSubmit()">-->
<!--        &lt;!&ndash; Phone Number  &ndash;&gt;-->
<!--        <div class="form-outline mb-4">-->
<!--          <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" placeholder="Enter email" email required autofocus  #email="ngModel"/>-->
<!--          <label class="form-label" >Email address</label>-->
<!--          <div  *ngIf="email.invalid && (email.dirty ||email.touched)" >-->
<!--            <div *ngIf="email.errors?.required" style="color:#dddddd">-->
<!--              email is required-->
<!--            </div>-->
<!--&lt;!&ndash;            <div *ngIf="email.errors?.email" style="color:#dddddd">&ndash;&gt;-->
<!--&lt;!&ndash;              SIGNUP2&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; usser name  &ndash;&gt;-->
<!--        <div class="form-outline mb-4">-->
<!--          <input [(ngModel)]="user.name" type="text" class="form-control" id="name" name="name" placeholder="Your name" required #name="ngModel" />-->
<!--          <label class="form-label" >First name</label>-->
<!--          <div  *ngIf="name.invalid && (name.dirty ||name.touched)">-->
<!--            <div *ngIf="name.errors?.required" style="color:#dddddd">-->
<!--              SIGNUP4-->
<!--            </div>-->
<!--&lt;!&ndash;            <div *ngIf="name.errors?.minlength" style="color:#dddddd">&ndash;&gt;-->
<!--&lt;!&ndash;              SIGNUP5&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; password  &ndash;&gt;-->
<!--        <div class="form-outline mb-4">-->
<!--          <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="3" required #password="ngModel" />-->
<!--          <label class="form-label" >Last name</label>-->
<!--          <div  *ngIf="password.invalid && (password.dirty ||password.touched)">-->
<!--            <div *ngIf="password.errors?.required" style="color:#dddddd">-->
<!--              password is required-->
<!--            </div>-->
<!--&lt;!&ndash;            <div *ngIf="password.errors?.minlength" style="color:#dddddd">&ndash;&gt;-->
<!--&lt;!&ndash;                SIGNUP8&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Phone Number  &ndash;&gt;-->
<!--        <div class="form-outline mb-4">-->
<!--          <input [(ngModel)]="user.phone" type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required #phone="ngModel"/>-->
<!--          <label class="form-label" >Phone number</label>-->
<!--        </div>-->
<!--        <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">-->
<!--          <div *ngIf="phone.errors?.required" style="color:#dddddd">-->
<!--            phone is required-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; address  &ndash;&gt;-->
<!--        <div [(ngModel)]="user.address" class="form-outline mb-4" id="address" name="address" placeholder="Address" required #address="ngModel">-->
<!--          <input type="password" class="form-control" />-->
<!--          <label class="form-label" >Password</label>-->
<!--          <div  *ngIf="address.invalid && (address.dirty ||address.touched)">-->
<!--            <div *ngIf="address.errors?.required" style="color:#dddddd">-->
<!--               address is required-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!form.form.valid">Sign up</button>-->

<!--        &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--        <div class="text-center">-->
<!--          <p>or sign up with:</p>-->
<!--          <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-facebook-f"></i>-->
<!--          </button>-->

<!--          <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-google"></i>-->
<!--          </button>-->

<!--          <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-twitter"></i>-->
<!--          </button>-->

<!--          <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-github"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div style="width:40%; margin: 25px auto" >
      <h3 class="font-weight-semi-bold mb-4" style="text-align: center">ĐĂNG KÝ</h3>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label style="color: white"><b>Email</b></label>
          <input [(ngModel)]="user.email" type="email" class="form-control form-control-lg" id="email" name="email"
                 placeholder="Email" email required autofocus #email="ngModel">
          <div *ngIf="email.invalid && (email.dirty ||email.touched)">
            <div *ngIf="email.errors?.required" class="alert alert-danger" style="color:#00FFFF">
              emai is required
            </div>
            <!--          <div *ngIf="email.errors.email" style="color:#dddddd">-->
            <!--            {{ this.translate.data["SIGNUP2"] | translate }}-->
            <!--          </div>-->
          </div>
        </div>
        <div class="form-group">
          <label style="color: white"><b> Username </b></label>
          <input [(ngModel)]="user.name" type="text" class="form-control form-control-lg" id="name" name="name"
                 placeholder="Họ và tên*" required #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty ||name.touched)">
            <div *ngIf="name.errors?.required" class="alert alert-danger" style="color:#dddddd">
              username is required
            </div>
            <!--          <div *ngIf="name.errors.minlength" style="color:#dddddd">-->
            <!--            {{ this.translate.data["SIGNUP5"] | translate }}-->
            <!--          </div>-->
          </div>
        </div>
        <div class="form-group">
          <label style="color: white"><b>Password</b></label>
          <input [(ngModel)]="user.password" type="password" class="form-control form-control-lg" id="password"
                 name="password" placeholder="Mật khẩu*" minlength="3" required #password="ngModel">
          <div *ngIf="password.invalid && (password.dirty ||password.touched)">
            <div *ngIf="password.errors?.required" class="alert alert-danger" style="color:#dddddd">
              password is required
            </div>
            <!--          <div *ngIf="password.errors.minlength" style="color:#dddddd">-->
            <!--            {{ this.translate.data["SIGNUP8"] | translate }}-->
            <!--          </div>-->
          </div>
        </div>
        <div class="form-group">
          <label style="color: white"><b>Phone</b></label>
          <input [(ngModel)]="user.phone" type="text" class="form-control form-control-lg" id="phone" name="phone"
                 placeholder="Số điện thoại*" required #phone="ngModel">
          <div *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
            <div *ngIf="phone.errors?.required" class="alert alert-danger" style="color:#dddddd">
              phone is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label style="color: white"><b>Address</b></label>
          <input [(ngModel)]="user.address" type="text" class="form-control form-control-lg" id="address" name="address"
                 placeholder="Địa chỉ*" required #address="ngModel">
          <div *ngIf="address.invalid && (address.dirty ||address.touched)">
            <div *ngIf="address.errors?.required" style="color:#dddddd">
              address is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div>
