<form class="user-profile" [formGroup]="formGroup">
    <div class="user-profile-infor">
        <div class="infor">
            <span>Họ tên</span>
            <input type="text" formControlName="name">
        </div>
        <div class="infor">
            <span>Email</span>
            <input type="text" formControlName="account">
        </div>
        <div class="infor">
            <span>Số điện thoại</span>
            <input type="text" formControlName="phone">
        </div>
        <div class="infor">
          <span>Địa chỉ</span>
          <input type="text" formControlName="address">
      </div>

    </div>
    <!--<div class="user-profile-link">
        <div class="infor">
            <span>Twitter</span>
            <div class="link">
                <span>http://www.twitter.com/</span>
                <input type="text" formControlName="twitter_link">
            </div>
        </div>
        <div class="infor">
            <span>Facebook</span>
            <div class="link">
                <span>http://www.facebook.com/</span>
                <input type="text" formControlName="facebook_link">
            </div>
        </div>
        <div class="infor">
            <span>Youtube</span>
            <div class="link">
                <span>http://www.youtube.com/</span>
                <input type="text" formControlName="youtube_link">
            </div>
        </div>

    </div>-->
</form>
<button (click)="updateData()">Lưu thông tin</button>
