<div class="filter-container">
  <div class="">
    <mat-form-field appearance="fill">
      <mat-label>Từ ngày :</mat-label>
      <input matInput [matDatepicker]="pickerFromDate" [(ngModel)]="dateFrom">
      <mat-hint>YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerFromDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="">
    <mat-form-field appearance="fill">
      <mat-label>Đến ngày</mat-label>
      <input matInput [matDatepicker]="pickerToDate" [(ngModel)]="dateTo">
      <mat-hint>YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerToDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="">
    <button mat-raised-button color="primary" (click)="Filter()">Lọc</button>
  </div>
</div>

<div class="control-section">
  <div align='center'>
    <ejs-chart size.width="10000" style='display:block' align='center' id='chartcontainer' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
               [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [width]='width'>
      <e-series-collection>
        <e-series [dataSource]='data' type='Line' xName='x' yName='y'  width=2 [marker]='marker'> </e-series>

      </e-series-collection>
    </ejs-chart>
  </div>
</div>
