<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Bình luận</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách bình luận</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
    <div class="container-fluid">
      <!-- Main row -->
      <div class="table-responsive">
        <div class="table-wrapper">
          <!--nọi dung ben trong-->
          <div style="display: flex;align-items: center;justify-content: space-between;">
            <div style="width: 50%;">
              <mat-form-field appearance="standard">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="BB01" #input>
              </mat-form-field>
            </div>
            <!--          <div>-->
            <!--            <button (click)="addProduct()" mat-raised-button color="primary"><i class="material-icons">add</i> Thêm </button>-->
            <!--          </div>-->
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


              <!-- Symbol Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Mã</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Nội dung bình luận</th>
                <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
              </ng-container>

              <ng-container matColumnDef="createTime">
                <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
                <td mat-cell *matCellDef="let element"> {{element.createTime | date: 'dd-MM-yyyy' }} </td>
              </ng-container>

              <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef> Mã sản phẩm</th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
              </ng-container>

              <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> Mã tài khoản</th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Duyệt bình luận</th>
                <td mat-cell *matCellDef="let element">
                  <mat-slide-toggle [checked]="element.status==0"
                                    (change)="toggleChangeEvent($event,element.id)"></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Hoạt động</th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <button mat-button color="accent"><i class="material-icons" (click)="deleteComment(element.id)">delete</i></button>
                    <button mat-button color="warn"><i class="material-icons" (click)="editComment(element)">edit</i></button>
                   <!-- <button mat-button color="primary"><i class="material-icons" (click)="viewDetails(element)">visibility</i></button>-->
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          <!--ket huc noi dung ben trong-->
        </div>
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  <!-- /.content -->
</div>
