<div class="container-fluid">
  <div class="row bg-secondary py-2 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center">
        <a class="text-dark" href="">FAQs</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" href="">Help</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" href="">Support</a>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <a class="text-dark px-2" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-dark pl-2" href="">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
  <!---->
  <!--  <div class="row align-items-center py-3 px-xl-5">-->
  <!--    <div class="col-lg-3 d-none d-lg-block">-->
  <!--      <a href="" class="text-decoration-none">-->
  <!--        <img-->
  <!--          src="assets/img/Logo_lifesup_1.jpg"-->
  <!--          alt="AdminLTE Logo"-->
  <!--          class="brand-image img-circle"-->
  <!--        />-->
  <!--        &lt;!&ndash;class="brand-image img-circle elevation-3">&ndash;&gt;-->
  <!--        &lt;!&ndash; style="opacity: .8"&ndash;&gt;-->
  <!--        &lt;!&ndash;        <h1 class="m-0 display-5 font-weight-semi-bold"><span&ndash;&gt;-->
  <!--        &lt;!&ndash;          class="text-primary font-weight-bold border px-3 mr-1">&ndash;&gt;-->
  <!--        &lt;!&ndash;            &ndash;&gt;-->
  <!--        &lt;!&ndash;          </span>Lifesup</h1>&ndash;&gt;-->
  <!--      </a>-->
  <!--    </div>-->
  <!--    <div class="col-lg-6 col-6 text-left">-->
  <!--      <form action="">-->
  <!--        <div class="input-group">-->

  <!--          <input-->
  <!--            type="text"-->
  <!--            class="form-control"-->
  <!--            placeholder="Search for products"-->
  <!--            [formControl]="myControl"-->
  <!--            [matAutocomplete]="auto"-->
  <!--            #ProductName-->
  <!--          />-->
  <!--          <mat-autocomplete #auto="matAutocomplete">-->
  <!--            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.productName">-->
  <!--              {{option.productName}}-->
  <!--            </mat-option>-->
  <!--          </mat-autocomplete>-->

  <!--          <div class="input-group-append" (click)="getProductName(ProductName.value)">-->
  <!--            <span class="input-group-text bg-transparent text-primary">-->
  <!--              <i class="fa fa-search"></i>-->
  <!--            </span>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-6 text-right">-->
  <!--      <a href="" class="btn border">-->
  <!--        <i class="fas fa-heart text-primary"></i>-->
  <!--        <span class="badge">0</span>-->
  <!--      </a>-->
  <!--      <a routerLink="/cart" class="btn border">-->
  <!--        <i class="fas fa-shopping-cart text-primary"></i>-->
  <!--        <span class="badge"></span>-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
<div class="container-fluid mb-5">
  <div class="row">
    <!--border-top px-xl-5-->
    <!--     <div class="col-lg-3 d-none d-lg-block">
           <a
             class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
             data-toggle="collapse"
             href="#navbar-vertical"
             style="height: 65px; margin-top: -1px; padding: 0 30px"
           >
             <h3 class="m-0"><strong>Danh mục</strong></h3>
             <i class="fa fa-list-alt" aria-hidden="true"></i>
           </a>
           <nav
             class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
             id="navbar-vertical"
           >
             <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
               <div *ngFor="let nav of categories">
                 <a href="" class="nav-item nav-link">{{ nav.categoryName }}</a>
               </div>
               <div *ngFor="let nav of categories">
                 <a href="" class="nav-item nav-link">{{ nav.categoryName }}</a>
               </div>
               &lt;!&ndash;<div class="nav-item dropdown">
                 <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i
                   class="fa fa-angle-down float-right mt-1"></i></a>
                 <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                   <a href="" class="dropdown-item">Men's Dresses</a>
                   <a href="" class="dropdown-item">Women's Dresses</a>
                   <a href="" class="dropdown-item">Baby's Dresses</a>
                 </div>
               </div>
               <a href="" class="nav-item nav-link">Shirts</a>
               <a href="" class="nav-item nav-link">Jeans</a>
               <a href="" class="nav-item nav-link">Swimwear</a>
               <a href="" class="nav-item nav-link">Sleepwear</a>
               <a href="" class="nav-item nav-link">Sportswear</a>
               <a href="" class="nav-item nav-link">Jumpsuits</a>
               <a href="" class="nav-item nav-link">Blazers</a>
               <a href="" class="nav-item nav-link">Jackets</a>
               <a href="" class="nav-item nav-link">Shoes</a>&ndash;&gt;
             </div>
           </nav>
         </div>-->

    <div class="col-lg-12">
      <nav
        style="
          background-color: orange;
          font: 15px Arial, sans-serif;
          font-weight: bold;
        "
        class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
      >
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <span class="text-primary font-weight-bold border px-3 mr-1">L</span
            >Lifesup
          </h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class ="logo">
            <img src="assets/img/Logo_lifesup_1.jpg" style="with:50px;height: 90px" alt="AdminLTE Logo" class="brand-image img-circle"/>
          </div>
          <div class="navbar-nav mr-auto py-3">
            <ul routerLink="/shop" class="nav-item nav-link "> <!--active-->
              TRANG CHỦ
            </ul>
            <li class="nav-item dropdown">
              <a class="nav-link" id="navbarDropdown">ÁO NAM</a>
              <div class="dropdown-content">
                <div *ngFor="let i of categoryAoNam">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="searchByType(i.categoryId)"> <!--(click)="getDataByCategory(i.categoryId)"-->
                    {{i.categoryName | uppercase}}</a>
                  <!--                  <a class="dropdown-item" href="#">Áo thun</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo polo</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo ba lỗ</a>-->
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown">QUẦN NAM</a>
              <div class="dropdown-content">
                <div *ngFor="let i of categoryQuanNam">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="searchByType(i.categoryId)">{{
                    i.categoryName | uppercase
                  }}</a>
                  <!--                  <a class="dropdown-item" href="#">Áo thun</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo polo</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo ba lỗ</a>-->
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown">PHỤ KIỆN</a>
              <div class="dropdown-content">
                <div *ngFor="let i of categoryPhuKien">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="searchByType(i.categoryId)">{{
                    i.categoryName | uppercase
                  }}</a>
                  <!--                  <a class="dropdown-item" href="#">Áo thun</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo polo</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo ba lỗ</a>-->
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown">DẠY DÉP</a>
              <div class="dropdown-content">
                <div *ngFor="let i of categoryDayDep">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="searchByType(i.categoryId)">{{
                    i.categoryName | uppercase
                  }}</a>
                  <!--                  <a class="dropdown-item" href="#">Áo thun</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo polo</a>-->
                  <!--                  <div class="dropdown-divider"></div>-->
                  <!--                  <a class="dropdown-item" href="#">Áo ba lỗ</a>-->
                </div>
              </div>
            </li>
            <li class="nav-item nav-link">TIN TỨC</li>
            <!--            <ul routerLink="/shop_detail" class="nav-item nav-link">Quần Nam</ul>-->
            <!--            <ul routerLink="/shop_detail" class="nav-item nav-link">Phụ kiện</ul>-->
            <!--            <ul routerLink="/shop_detail" class="nav-item nav-link">Giày dép</ul>-->
            <!--            <ul href="contact.html" class="nav-item nav-link">Liên hệ</ul>-->
          </div>
          <div class="navbar-nav ml-auto py-0">
            <div class="form-inline my-2 my-lg-0">
              <form action="">
                <div class="input-group">
                  <input
                    style="width: 350px"
                    type="text"
                    class="form-control"
                    placeholder="Tìm kiếm"
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    #ProductName
                  />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredOptions | async"
                      [value]="option.productName"
                    >
                      <img
                        style="with: 30px; height: 30px"
                        src="{{ option.productIcon | image }}"
                      />
                      {{ option.productName | lowercase }}
                    </mat-option>
                  </mat-autocomplete>

                  <div
                    class="input-group-append"
                    (click)="getProductName(ProductName.value)"
                  >
                    <span class="input-group-text bg-transparent text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <ng-template [ngIf]="!this.user" [ngIfElse]="userTemp">
              <a [routerLink]="['/login']" class="nav-item nav-link"
                >ĐĂNG NHẬP</a
              >
              <a [routerLink]="['/sign-up']" class="nav-item nav-link"
                >ĐĂNG KÍ</a
              >
            </ng-template>
            <ng-template #userTemp>
              <a routerLink="user-profile" class="nav-item nav-link"
                >Xin chào {{ this.user.name | titlecase }}</a
              >
              <a (click)="logoutUser()" class="nav-item nav-link">ĐĂNG XUẤT</a>
            </ng-template>
            <a href="" class="nav-item nav-link">
              <i class="fas fa-heart text-primary"></i>
              <span class="badge">0</span>
            </a>
            <a routerLink="/cart" class="cart nav-item nav-link">
              <i class="fas fa-shopping-cart text-primary"></i>
              <span class="badge"></span>
              <div class="cart-header">
                <ng-container *ngFor="let item of items">
                  <div class="cart-item">
                    <div class="img">
                      <img
                        [src]="item.productInfo?.productIcon"
                        class="img-response"
                        width="60px"
                        alt=""
                      />
                    </div>
                    <div class="infor">
                      <p>{{ item.productInfo?.productName }}</p>
                      <p class="cart-price">
                        Giá : {{ item.productInfo?.productPrice }}
                      </p>

                      <div class="grid grid-gift">
                        <div
                          class="grid__item one-half cart_select cart_item_name"
                          style="width: 30%"
                        >
                          <div class="ajaxcart__qty input-group-btn">
                            <button
                              type="button"
                              class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count"
                              data-id=""
                              data-qty="0"
                              data-line="1"
                              aria-label="-"
                              (click)="
                                ChangeQuantity(item.productInfo.productId,'minus',1)
                              "
                            >
                              -
                            </button>
                            <input
                              type="text"
                              name="updates[]"
                              class="ajaxcart__qty-num number-sidebar"
                              maxlength="3"
                              [value]="item.quantity"
                              min="0"
                              data-id=""
                              data-line="1"
                              aria-label="quantity"
                              pattern="[0-9]*"
                              #quantity
                              (keyup)="
                                ChangeQuantity(
                                  item.productInfo.productId,
                                  'change',
                                  quantity.value
                                )
                              "
                            />
                            <button
                              type="button"
                              class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count"
                              data-id=""
                              data-line="1"
                              data-qty="2"
                              aria-label="+"
                              (click)="
                                ChangeQuantity(item.productInfo.productId,'plus',1)
                              "
                            >
                              +
                            </button>
                          </div>
                        </div>
                        <div
                          class="grid__item one-half text-right cart_prices"
                          style="width: 70%"
                        >
                          Tổng cộng:
                          <span class="cart-price"
                            >{{
                              item.productInfo.productPrice * item.quantity
                            }}đ</span
                          >
                        </div>
                      </div>
                    </div>
                    <div style="width: 10%" (click)="removeItemFromCart(item.productInfo.productId)">
                      <i class="material-icons">delete</i>
                    </div>
                  </div>
                </ng-container>
              </div>
            </a>
          </div>
        </div>
      </nav>
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 410px">
            <!--  <img class="img-fluid" src="../../../assets/img/carousel-1.jpg" alt="Image"> -->
            <img
              class="img-fluid"
              src="https://mcdn.nhanh.vn/store/662/bn/Cover_facebook_3.png"
              alt="Image"
            />
            <!--            <div-->
            <!--              class="carousel-caption d-flex flex-column align-items-center justify-content-center"-->
            <!--            >-->
            <!--              <div class="p-3" style="max-width: 700px">-->
            <!--                <h4 class="text-light text-uppercase font-weight-medium mb-3">-->
            <!--                  10% Off Your First Order-->
            <!--                </h4>-->
            <!--                <h3 class="display-4 text-white font-weight-semi-bold mb-4">-->
            <!--                  Fashionable Dress-->
            <!--                </h3>-->
            <!--                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <div class="carousel-item" style="height: 410px">
            <!--            <img class="img-fluid" src="../../../assets/img/carousel-2.jpg" alt="Image">-->
            <img
              class="img-fluid"
              src="https://mcdn.nhanh.vn/store/662/bn/Cover_facebook_3.png"
              alt="Image"
            />
            <!--            <div-->
            <!--              class="carousel-caption d-flex flex-column align-items-center justify-content-center"-->
            <!--            >-->
            <!--              <div class="p-3" style="max-width: 700px">-->
            <!--                <h4 class="text-light text-uppercase font-weight-medium mb-3">-->
            <!--                  10% Off Your First Order-->
            <!--                </h4>-->
            <!--                <h3 class="display-4 text-white font-weight-semi-bold mb-4">-->
            <!--                  Reasonable Price-->
            <!--                </h3>-->
            <!--                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#header-carousel"
          data-slide="prev"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a
          class="carousel-control-next"
          href="#header-carousel"
          data-slide="next"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
