.topbar-text {
  padding-left: 146px;
  line-height: 31px;
}
.topbar-text a.map {
  /*background: url('https://bizweb.dktcdn.net/100/438/408/themes/858544/assets/map_tb.svg?1652776125113') left no-repeat;*/
  margin-left: 24px;
  margin-right: 60px;
}
.topbar-text a.phone {
  /* background: url('https://bizweb.dktcdn.net/100/438/408/themes/858544/assets/call_tb.svg?1652776125113') left center no-repeat;*/
  margin-left: 30px;
  margin-right: 60px;
}
.topbar-text a.phone {
  /*background:url('https://bizweb.dktcdn.net/100/438/408/themes/858544/assets/email_tb.svg?1652776125113') left center no-repeat;*/
  margin-left: 24px;
  margin-right: 60px;
}
.topbar-text a {
  font-size: 13px;
  color: #000;
}
.topbar-text a b {
  font-size: 16px;
  font-family: svn-gilroy bold;
  color: #fcaf17;
}

mat-form-field {
  width: 100%;
}

/*ul{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  padding-top: 13px;*/
/*  list-style: none;*/
/*  background-color: orange;*/
/*}*/
/*li{*/
/*  width: 150px;*/
/*  text-align: center;*/
/*}*/
/*.menu > ul{*/
/*  height: 40px;*/
/*}*/
/*.menu > ul > li{*/
/*  display: inline-block;*/
/*  border-right: 1px solid #dddddd;*/
/*  position: relative;*/
/*}*/
/*.menu > ul > li > ul {*/
/*  display: none;*/
/*  position: absolute;*/
/*  top: 15px;*/
/*}*/
/*.menu > ul > li > ul li{*/
/*  padding: 5px 0;*/
/*  border-bottom: 1px solid #dddddd;*/
/*}*/
/*ul li:last-child{*/
/*  border: none;*/
/*}*/
/*.menu ul li:hover ul{*/
/*  display: block;*/
/*}*/

.dropdown {
  position: relative;
  display: inline-block;
}
/*sub-menu*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  list-style: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.cart {
  position: relative;
  .cart-header {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0 3px 25px 0 rgb(31 38 67 / 10%);
    -o-box-shadow: 0 3px 25px 0 rgba(31, 38, 67, 0.1);
    -moz-box-shadow: 0 3px 25px 0 rgba(31, 38, 67, 0.1);
    background-color: #fff;
    .cart-item {
      margin:20px 0;
      font-family: svn-gilroy bold;
      display: flex;
      width: 100%;
      .img {
        width: 15%;
        margin-right: 10px;
      }
      .infor {
        width: 75%;
        .cart-price {
          font-size: 16px;

          color: #fcaf17;

          margin-bottom: 5px;
        }
        .grid {
          display: flex;
          .grid__item {
            // width: 50%;
            .input-group-btn {
              position: relative;
              white-space: nowrap;
              width: 1%;
              padding: 0;
              display: table-cell;
              vertical-align: middle;
              margin: 0;
              .ajaxcart__qty--minus {
                border-radius: 13px 0 0 13px;
              }
              button {
                border-radius: 0;
                border: 1px solid #7a7a9d;
                color: #222;
                line-height: 24px;
                padding: 0;
                margin: 0;
                width: 31px;
                background-color: #fff;
                height: 26px;
                float: left;
              }
              input {
                display: inline-block;
                padding: 0;
                text-align: center;
                border-radius: 0;
                width: 35px;
                min-height: 26px;
                border: 1px solid #7a7a9d;
                color: #222;
                height: 26px;
                margin: 0;
                float: left;
                border-left: none;
                border-right: none;
              }
              .ajaxcart__qty--plus {
                border-radius: 0 13px 13px 0;
              }
            }
          }
        }
      }
    }
  }
}
.cart:hover .cart-header {
  display: flex;
  flex-direction:column;
  width: 500px;
}
