<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Tài khoản</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách tài khoản</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <!--        <div class="table-title">-->
        <!--          <div class="row">-->
        <!--            <div class="col-xs-6">-->
        <!--              <h2>DANH SÁCH TÀI KHOẢN</h2>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--table-->
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div style="width: 50%;">
            <mat-form-field appearance="standard">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="BB01" #input>
            </mat-form-field>
          </div>
<!--          <div>-->
<!--            <button (click)="addProduct()" mat-raised-button color="primary"><i class="material-icons">add</i> Thêm </button>-->
<!--          </div>-->
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">


            <!-- Symbol Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Mã</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Tên tài khoản </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="password">
              <th mat-header-cell *matHeaderCellDef> Mật khẩu</th>
              <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Số điện thoại</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Vai trò </th>
              <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.active==0"
                                  (change)="toggleChangeEvent($event,element.active)"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Hoạt động</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button mat-button color="accent" (click)="deleteUser(element.id)"><i class="material-icons" >delete</i></button>
<!--                  <button mat-button color="warn" (click)="detailUser(element.id)"><i class="material-icons" >edit</i></button>-->
                  <button mat-button color="primary" (click)="detailUser(element)"><i class="material-icons" >visibility</i></button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        <!--table-->
      </div>
    </div>
  </div>
</div>
