<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!--        &lt;!&ndash; Shop Sidebar Start &ndash;&gt;-->
    <!--        <div class="col-lg-3 col-md-12">-->
    <!--            &lt;!&ndash; Price Start &ndash;&gt;-->
    <!--            <div class="border-bottom mb-4 pb-4">-->
    <!--                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>-->
    <!--                <form>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" checked id="price-all">-->
    <!--                        <label class="custom-control-label" for="price-all">All Price</label>-->
    <!--                        <span class="badge border font-weight-normal">1000</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="price-1">-->
    <!--                        <label class="custom-control-label" for="price-1">$0 - $100</label>-->
    <!--                        <span class="badge border font-weight-normal">150</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="price-2">-->
    <!--                        <label class="custom-control-label" for="price-2">$100 - $200</label>-->
    <!--                        <span class="badge border font-weight-normal">295</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="price-3">-->
    <!--                        <label class="custom-control-label" for="price-3">$200 - $300</label>-->
    <!--                        <span class="badge border font-weight-normal">246</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="price-4">-->
    <!--                        <label class="custom-control-label" for="price-4">$300 - $400</label>-->
    <!--                        <span class="badge border font-weight-normal">145</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="price-5">-->
    <!--                        <label class="custom-control-label" for="price-5">$400 - $500</label>-->
    <!--                        <span class="badge border font-weight-normal">168</span>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Price End &ndash;&gt;-->

    <!--            &lt;!&ndash; Color Start &ndash;&gt;-->
    <!--            <div class="border-bottom mb-4 pb-4">-->
    <!--                <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>-->
    <!--                <form>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" checked id="color-all">-->
    <!--                        <label class="custom-control-label" for="price-all">All Color</label>-->
    <!--                        <span class="badge border font-weight-normal">1000</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="color-1">-->
    <!--                        <label class="custom-control-label" for="color-1">Black</label>-->
    <!--                        <span class="badge border font-weight-normal">150</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="color-2">-->
    <!--                        <label class="custom-control-label" for="color-2">White</label>-->
    <!--                        <span class="badge border font-weight-normal">295</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="color-3">-->
    <!--                        <label class="custom-control-label" for="color-3">Red</label>-->
    <!--                        <span class="badge border font-weight-normal">246</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="color-4">-->
    <!--                        <label class="custom-control-label" for="color-4">Blue</label>-->
    <!--                        <span class="badge border font-weight-normal">145</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="color-5">-->
    <!--                        <label class="custom-control-label" for="color-5">Green</label>-->
    <!--                        <span class="badge border font-weight-normal">168</span>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Color End &ndash;&gt;-->

    <!--            &lt;!&ndash; Size Start &ndash;&gt;-->
    <!--            <div class="mb-5">-->
    <!--                <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>-->
    <!--                <form>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" checked id="size-all">-->
    <!--                        <label class="custom-control-label" for="size-all">All Size</label>-->
    <!--                        <span class="badge border font-weight-normal">1000</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="size-1">-->
    <!--                        <label class="custom-control-label" for="size-1">XS</label>-->
    <!--                        <span class="badge border font-weight-normal">150</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="size-2">-->
    <!--                        <label class="custom-control-label" for="size-2">S</label>-->
    <!--                        <span class="badge border font-weight-normal">295</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="size-3">-->
    <!--                        <label class="custom-control-label" for="size-3">M</label>-->
    <!--                        <span class="badge border font-weight-normal">246</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="size-4">-->
    <!--                        <label class="custom-control-label" for="size-4">L</label>-->
    <!--                        <span class="badge border font-weight-normal">145</span>-->
    <!--                    </div>-->
    <!--                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">-->
    <!--                        <input type="checkbox" class="custom-control-input" id="size-5">-->
    <!--                        <label class="custom-control-label" for="size-5">XL</label>-->
    <!--                        <span class="badge border font-weight-normal">168</span>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Size End &ndash;&gt;-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Shop Sidebar End &ndash;&gt;-->

    <!-- Shop Product Start -->
    <div class="col-lg-12 col-md-12" style="display: flex;align-items: center;justify-content: center;">

      <div class="row pb-3" style="width: 80%;">
        <div
          class="col-lg-3 col-md-offset-6 col-sm-offset-12 pb-1"
          *ngFor="let item of productsList"
        >
          <div class="card product-item border-0 mb-4">
            <div
              class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
            >
              <img
                class="img-fluid w-100"
                src="{{ item.productIcon | image }}"
                alt=""
              />
            </div>
            <div
              class="card-body border-left border-right text-center p-0 pt-4 pb-3"
            >
              <h3
                style="text-transform: capitalize; color: #000"
                class="text-truncate mb-3"
              >
                {{ item.productName }}
              </h3>
              <div class="d-flex justify-content-center">
                <h6
                  style="
                    color: #fcaf17;
                    line-height: 1.3;
                    display: block;
                    font-size: 16px;
                    font-family: svn-gilroy bold;
                  "
                >
                  {{ item.productPrice | currency: "VND":true }}
                </h6>
                <h3
                  style="
                    color: #fcaf17;
                    line-height: 1.3;
                    font-size: 16px;
                    font-family: svn-gilroy bold;
                  "
                >
                  {{ item.productStock == 0 ? " (Hết hàng)" : "" }}
                </h3>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between bg-light border"
            >
              <a
                routerLink="/shop_detail/{{ item.productId }}"
                class="btn btn-sm text-dark p-0"
                ><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết giỏ
                hàng</a
              >
              <button
                class="btn btn-sm text-dark p-0"
                (click)="buyNow(item)"
                [disabled]="item.productStock < 1"
              >
                <i class="fas fa-shopping-cart text-primary mr-1"></i>Mua ngay
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
      </div>
    </div>
    <!-- Shop Product End -->

    <br />

    <!--      <div class="row">-->
    <!--        <div class="col-12">-->

    <!--          <div class="row" >-->

    <!--            <div class="container">-->

    <!--              <div class="row" *ngIf="!loading">-->
    <!--                &lt;!&ndash; List of Products &ndash;&gt;-->
    <!--                <div class="col-sm-3 mb-3" *ngFor="let productInfo of pagesale?.content">-->
    <!--                  <div *ngIf="ShowProduct(productInfo.productPrice)">-->
    <!--                    <div class="item">-->
    <!--                      <div class="mb-r">-->
    <!--                        &lt;!&ndash;Card&ndash;&gt;-->
    <!--                        <div class="card card-cascade wider" >-->
    <!--                          &lt;!&ndash;Card image&ndash;&gt;-->
    <!--                          <a  style="width:158px; height:150px" routerLink="/product/{{productInfo.productId}}">-->

    <!--                            <div class="viewimg zoom overlay z-depth-4 rounded">-->

    <!--                              <img class="img-fluid w-300"-->
    <!--                                   src="{{productInfo.productIcon}}"-->
    <!--                                   alt="Sample" >-->

    <!--                            </div>-->
    <!--                          </a>-->
    <!--                          &lt;!&ndash;/.Card image&ndash;&gt;-->

    <!--                          &lt;!&ndash;Card content&ndash;&gt;-->
    <!--                          <div class="card-body text-center no-padding" style="color: #ff7315">-->
    <!--                            <h6  style=" height:40px">-->
    <!--                              <strong>-->
    <!--                                <a routerLink="/product/{{productInfo.productId}}">{{productInfo.productName}}</a>-->
    <!--                              </strong>-->
    <!--                            </h6>-->
    <!--                            <h6 class="mb-3"><strong><span>{{productInfo.productPrice}}</span></strong></h6>-->
    <!--                            &lt;!&ndash;Card footer&ndash;&gt;-->

    <!--                            <ng-template #offBlock><button  class="btn btn-dark btn-sm px-3 mr-1 mb-2">Unavailable</button></ng-template>-->
    <!--                            <button type="button" class="btn btn-primary btn-sm px-3 mr-1 mb-2 material-tooltip-main" routerLink="/shop_detail/{{productInfo.productId}}" >-->
    <!--                              <i class="fa fa-eye"> Detail</i>-->
    <!--                            </button>-->

    <!--                            &lt;!&ndash;Card footer&ndash;&gt;-->
    <!--                          </div>-->
    <!--                          &lt;!&ndash;/.Card content&ndash;&gt;-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash;/.Card&ndash;&gt;-->
    <!--                      </div>-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                </div>-->

    <!--              </div>-->

    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->

    <div style="display: flex;align-items: center;justify-content: center;width: 100%;">
      <mat-paginator
        [length]="totalElements"
        [pageSize]="8"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="OnPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
