<div class="user-container">
  <h1>Thông tin và Cài đặt</h1>
  <mat-tab-group>
    <mat-tab label="Thông tin người dùng">
      <app-user-profile></app-user-profile>
    </mat-tab>
    <mat-tab label="Hình ảnh người dùng">
      <app-profile-picture [avatar]="user.avatar | avatar" [user]="user"></app-profile-picture>
    </mat-tab>
    <mat-tab label="Thay đổi mật khẩu">
      <div class="password-changing-container">
        <mat-form-field appearance="fill">
          <mat-label>Mật khẩu cũ</mat-label>
          <input matInput [(ngModel)]="old_pass"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mật khẩu mới</mat-label>
          <input matInput [(ngModel)]="new_pass"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label> Xác nhận mật khẩu mới</mat-label>
          <input matInput [(ngModel)]="new_pass_confirm"/>
        </mat-form-field>
        <div class="text-center">
          <button mat-raised-button color="primary" (click)="change()">Thay đổi</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="this.user.role == 'ROLE_CUSTOMER'" label="Đơn hàng của tôi">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">


          <!-- Symbol Column -->
          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>Mã đơn hàng</th>
            <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
          </ng-container>

          <ng-container matColumnDef="buyerPhone">
            <th mat-header-cell *matHeaderCellDef> Số điện thoại</th>
            <td mat-cell *matCellDef="let element"> {{element.buyerPhone}} </td>
          </ng-container>

          <ng-container matColumnDef="buyerAddress">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
            <td mat-cell *matCellDef="let element"> {{element.buyerAddress}} </td>
          </ng-container>

          <ng-container matColumnDef="createTime">
            <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
            <td mat-cell *matCellDef="let element"> {{element.createTime | date}} </td>
          </ng-container>

          <ng-container matColumnDef="orderStatus">
            <th mat-header-cell *matHeaderCellDef> Trạng thái đơn hàng</th>
            <td mat-cell *matCellDef="let element"> {{element.orderStatus | status2}} </td>
          </ng-container>


          <ng-container matColumnDef="orderAmount">
            <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
            <td mat-cell *matCellDef="let element"> {{element.orderAmount }} VNĐ</td>
          </ng-container>

          <ng-container matColumnDef="action" style="margin-left: 199px">
            <th style="text-align: center" mat-header-cell *matHeaderCellDef> Hoạt động</th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.orderStatus == 0" #templateRef>
                <div>
                  <button mat-button color="primary"  (click)="huyDonHang(element)"><i class="material-icons" >approval</i>hủy đơn hàng</button>
                </div>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
