<div class="product-infor">
  <div style="width: 50%">Mã tài khoản:</div>
  <div style="width: 50%">
    {{ this.data.data.id }}
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Tên tài khoản:</div>
  <div style="width: 50%">
    {{ this.data.data.name }}
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Email:</div>
  <div style="width: 50%">
    {{ this.data.data.email }}
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Số điện thoại:</div>
  <div style="width: 50%">
    {{ this.data.data.phone }}
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Địa chỉ :</div>
  <div style="width: 50%">
    {{ this.data.data.address }}
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Avatar :</div>
  <div style="width: 50%">
    <img
      style="width: 300px"
      src="{{ this.data.data.avatar | image1 }}"
      alt="san pham"
    />
  </div>
</div>
<div class="product-infor">
  <div style="width: 50%">Vai trò :</div>
  <div style="width: 50%">
    {{ this.data.data.role }}
  </div>
</div>
