<div class="example-config">
  <button kendoButton (click)="pdf.saveAs('invoice.pdf')">
    Save As PDF...
  </button>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
  <my-invoice [data]="data"></my-invoice>
</kendo-pdf-export>
