Kendo UI example application styles html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
my-app {
  display: block;
  box-sizing: border-box;
  padding: 30px;
}
my-app > .k-icon.k-i-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
}
.example-wrapper p,
.example-col p {
  margin: 0 0 10px;
}
.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}
.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}
.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.event-log li:last-child {
  margin-bottom: -1px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #3aabf0;
}

.address {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.from p, .for p {
  color: #787878;
}

.signature {
  padding-top: 36px;
}
/*export*/
kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 12px;
}
