<!--<div class="container-fluid pt-5">-->
<!--  <div class="row px-xl-5">-->
<!--    <div class="col-lg-8">-->
<!--      <div class="mb-4">-->
<!--        <h4 class="font-weight-semi-bold mb-4">Login</h4>-->
<!--        <div class="row ">-->
<!--            fsdfasfasfasfasdfa-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-4" style="margin-left: 600px">
        <!--form -->
      <h3 class="font-weight-semi-bold mb-4" style="text-align: center">ĐĂNG NHẬP</h3>
      <form #form='ngForm' (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" name="email" placeholder="admin@gmail.com" class="form-control"
                 required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email"/>
          <label class="form-label" for="form2Example1">Email address</label>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger"  style="color:#dddddd">
            username or email is valid
          </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" name="password" class="form-control" autocomplete="password"
                 placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'/>
          <label class="form-label" for="form2Example2">Password</label>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger"  style="color:#dddddd">
            password is valid
          </div>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

