<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Biểu đồ</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Biểu đồ tổng quan</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"
            ><i class="fas fa-cog"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Số lượng đơn hàng</span>
              <span class="info-box-number">
                {{ soLuongDonHangHomNay }}
              </span>
              Ngày hôm nay
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"
            ><i class="fas fa-thumbs-up"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Số lượng đơn hàng</span>
              <span class="info-box-number">{{
                soLuongDonHangThangNay
                }}</span>
              Tháng này
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"
            ><i class="fas fa-shopping-cart"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Doanh thu theo ngày</span>
              <span class="info-box-number">{{doanhThuNgayHomNay | currency:"VND"}}</span>
              Ngày hôm này
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"
            ><i class="fas fa-users"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Doanh thu theo tháng</span>
              <span class="info-box-number"
              >{{ doanhthuThangNay | currency:"VND":true }}</span
              >
              Tháng này
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <!-- /.row -->
      <div class="chart-container">
<!--        <div class="line-chart">-->
<!--          <app-line-chart></app-line-chart>-->
<!--        </div>-->
    <div class="column-chart">
      <app-column-chart></app-column-chart>
    </div>
        <div class="circle-chart">
          <app-circle-chart></app-circle-chart>
        </div>
      </div>
      <!-- <div class="line-chart">
      <app-line-chart></app-line-chart>
      </div>
      <div class="circle-chart text-center">

      </div> -->
      <!-- /.row -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
