
.line-chart{


}

.circle-chart{
  margin-top:30px;
  display: flex;
  align-items:center;
  justify-content: center;

}
.chart-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;


}
