<div class="filter-container">
  <div class="">
    <mat-form-field appearance="fill">
      <mat-label>Từ ngày :</mat-label>
      <input matInput [matDatepicker]="pickerFromDate" [(ngModel)]="createForm">
      <mat-hint>YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerFromDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="">
    <mat-form-field appearance="fill">
      <mat-label>Đến ngày</mat-label>
      <input matInput [matDatepicker]="pickerToDate" [(ngModel)]="createTo">
      <mat-hint>YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerToDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="">
    <button mat-raised-button color="primary" (click)="Filter()">Lọc</button>
  </div>
</div>

<ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Column' xName='ngay' yName='doanhThu' name='Doanh số hàng ngày'></e-series>
        </e-series-collection>
    </ejs-chart>
