<div class="product-creation-wrapper">
  <h4>Cập nhật tình trạng đơn hàng</h4>
  <mat-form-field appearance="fill">
    <mat-label>Loại sản phẩm</mat-label>
    <mat-select [(ngModel)]="this.data.data.orderStatus">
      <mat-option *ngFor="let cat of map" [value]="cat.id">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text-center">
    <button (click)="approveOrder()" mat-raised-button type="button" color="primary">
     {{btnName}}
    </button>
  </div>


</div>
