<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="container">
      <div class="card_detail">
        <div class="container-fliud">
          <div class="wrapper row" style="width: 100%">
            <!-- <div class="preview col-md-6">
              <img
                class="img-responsive"
                width="100%"
                [src]="productInfo.productIcon"
              />
            </div> -->
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
              style="width: 50%"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="img-responsive"
                    width="100%"
                    [src]="productInfo.productIcon | image"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="img-responsive"
                    width="100%"
                    [src]="productInfo.productIcon | image"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="img-responsive"
                    width="100%"
                    [src]="productInfo.productIcon | image"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="details col-md-6" style="width: 50%">
              <div class="card-body">
                <h4 class="card-title" style="color: #ff7315">
                  {{ productInfo?.productName }}
                  <a style="color: #999999; font-size: 15px"
                    >(Mã sản phẩm: {{ productInfo?.productId }})</a
                  >
                </h4>
                <form
                  name="form"
                  #form="ngForm"
                  (ngSubmit)="productInfo?.productStatus == 0 && addToCart()"
                >
                  <div class="text-left">
                    <input
                      hidden
                      name="productId"
                      [value]="productInfo?.productId"
                    />

                    <p class="card-text">
                      <strong>Giá: </strong>
                      <label id="price"
                        >{{ productInfo?.productPrice | currency:"VND":true }} </label
                      >
                    </p>
                    <strong>tồn kho: </strong>
                    <p class="card-text">{{ productInfo?.productStock }}</p>

                    <label class="card-text">
                      <strong>Chọn số lượng: </strong>
                      <input
                        [(ngModel)]="count"
                        (change)="validateCount()"
                        type="number"
                        name="count"
                        required
                        min="1"
                      />
                    </label>
                    <br />
                    <strong>Đặc điểm sản phẩm: </strong>
                    <p class="card-test">
                      {{ productInfo?.productDescription }}
                    </p>
                    <p class="card-test">
                      <a *ngIf="productInfo.productStock > 0"> Available </a>
                      <a *ngIf="productInfo.productStock <= 0"> Unavailable </a>
                    </p>
                    <p class="card-text">
                      <strong>Thành tiền: </strong>
                      <label id="subtotal">{{
                        count * productInfo.productPrice | currency:"VND":true
                      }}</label>
                    </p>
                  </div>
                  <div *ngIf="productInfo.productStock > 0">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm px-3 mr-1 mb-2"
                      (click)="addToCart()"
                    >
                      <i class="fa fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng
                    </button>
                  </div>
                  <div *ngIf="productInfo.productStock <= 0">
                    <button
                      type="button"
                      disabled
                      class="btn btn-dark btn-sm px-3 mr-1 mb-2"
                    >
                      Hết hàng
                    </button>
                    <!--            </div>-->
                    <!--              <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">{{ this.translate.data["Unavailable"] | translate }}</a></ng-template>-->
                  </div>
                </form>
              </div>

              <!--              <div class="d-flex mb-4">-->
              <!--                <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>-->
              <!--                <form>-->
              <!--                  <div-->
              <!--                    class="custom-control custom-radio custom-control-inline"-->
              <!--                  >-->
              <!--                    <input-->
              <!--                      type="radio"-->
              <!--                      class="custom-control-input"-->
              <!--                      id="color-1"-->
              <!--                      name="color"-->
              <!--                    />-->
              <!--                    <label class="custom-control-label" for="color-1"-->
              <!--                      >Black</label-->
              <!--                    >-->
              <!--                  </div>-->
              <!--                  <div-->
              <!--                    class="custom-control custom-radio custom-control-inline"-->
              <!--                  >-->
              <!--                    <input-->
              <!--                      type="radio"-->
              <!--                      class="custom-control-input"-->
              <!--                      id="color-2"-->
              <!--                      name="color"-->
              <!--                    />-->
              <!--                    <label class="custom-control-label" for="color-2"-->
              <!--                      >White</label-->
              <!--                    >-->
              <!--                  </div>-->
              <!--                  <div-->
              <!--                    class="custom-control custom-radio custom-control-inline"-->
              <!--                  >-->
              <!--                    <input-->
              <!--                      type="radio"-->
              <!--                      class="custom-control-input"-->
              <!--                      id="color-3"-->
              <!--                      name="color"-->
              <!--                    />-->
              <!--                    <label class="custom-control-label" for="color-3"-->
              <!--                      >Red</label-->
              <!--                    >-->
              <!--                  </div>-->
              <!--                  <div-->
              <!--                    class="custom-control custom-radio custom-control-inline"-->
              <!--                  >-->
              <!--                    <input-->
              <!--                      type="radio"-->
              <!--                      class="custom-control-input"-->
              <!--                      id="color-4"-->
              <!--                      name="color"-->
              <!--                    />-->
              <!--                    <label class="custom-control-label" for="color-4"-->
              <!--                      >Blue</label-->
              <!--                    >-->
              <!--                  </div>-->
              <!--                  <div-->
              <!--                    class="custom-control custom-radio custom-control-inline"-->
              <!--                  >-->
              <!--                    <input-->
              <!--                      type="radio"-->
              <!--                      class="custom-control-input"-->
              <!--                      id="color-5"-->
              <!--                      name="color"-->
              <!--                    />-->
              <!--                    <label class="custom-control-label" for="color-5"-->
              <!--                      >Green</label-->
              <!--                    >-->
              <!--                  </div>-->
              <!--                </form>-->
              <!--              </div>-->
              <!--              <div class="d-flex align-items-center mb-4 pt-2"></div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-xl-5">
  <div class="col">
    <div class="nav nav-tabs justify-content-center border-secondary mb-4">
      <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-3"
        >Đánh giá (0)</a
      >
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab-pane-3">
        <div class="row">
          <div class="col-md-6">
            <h4 class="mb-4">1 đánh giá cho "Colorful Stylish Shirt"</h4>
            <ng-container *ngFor="let comment of commnetListObservable | async">
              <div class="media mb-4">
                <img
                  [src]="comment.avatar | image"
                  alt="Image"
                  class="img-fluid mr-3 mt-1"
                  style="width: 45px"
                />
                <div class="media-body">
                  <h6>
                    {{comment.username}}<small> - <i>{{comment.createTime | date}}</i></small>
                  </h6>

                  <p>
                    {{comment.comment}}
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <h4 class="mb-4">Để lại đánh giá</h4>
            <small
              >Địa chỉ email của bạn sẽ không được công bố. *</small
            >


              <div class="form-group">
                <label for="message">Đánh giá của bạn *</label>
                <textarea
                  id="message"
                  cols="30"
                  rows="5"
                  class="form-control"
                  [(ngModel)]="userComment"
                ></textarea>
              </div>

              <div class="form-group mb-0">
                <input

                  value="Để lại đánh giá của bạn"
                  class="btn btn-primary px-3"
                  (click)="comment()"
                />
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br />
<!--<h3 align="center">{{ this.translate.data["Product Detail"] | translate }}</h3><br/>-->
