<div class="text-center"><h1>HÓA ĐƠN THANH TOÁN</h1></div>
<button>XUẤT HÓA ĐƠN</button>
<div>
  <div class="order-infor">
    <div>Tên khách hàng : {{ this.OrderInfor.buyerName }}</div>
    <div>Số điện thoại : {{ this.OrderInfor.buyerPhone }}</div>
    <div>Địa chỉ khách hàng : {{ this.OrderInfor.buyerAddress }}</div>
    <div>Email khách hàng : {{ this.OrderInfor.buyerEmail }}</div>
    <div>Ghi chú : {{ this.OrderInfor.comment }}</div>
    <div>Ngày tạo hóa đơn : {{ this.OrderInfor.createTime | date }}</div>
  </div>

  <div class="order-details">
    <table>
      <tr>
        <th>Số thứ tự</th>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
      </tr>
      <ng-container *ngFor="let product of OrderDetailsList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productPrice | currency:"VND":true }}</td>
          <td>{{ product.count }}</td>
          <td>{{ product.productPrice * product.count }}</td>
        </tr>
      </ng-container>
      <div
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div>Tổng tiền</div>
        <div>{{ OrderInfor.orderAmount | currency:"VND":true}}</div>
      </div>
    </table>
  </div>
</div>
