<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Đơn hàng</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách đơn hàng</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <!--        <div class="table-title">-->
        <!--          <div class="row">-->
        <!--            <div class="col-xs-6">-->
        <!--              <h2>DANH SÁCH TÀI KHOẢN</h2>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--table-->
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <div style="width: 50%;">
            <mat-form-field appearance="standard">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="BB01" #input>
            </mat-form-field>
          </div>
          <!-- <button mat-raised-button printSectionId="print-section" ngxPrint cols="primary">Xuất PDF</button> -->
        </div>

        <div class="mat-elevation-z8" id="print-section">
          <table mat-table [dataSource]="dataSource">


            <!-- Symbol Column -->
            <ng-container matColumnDef="orderId">
              <th mat-header-cell *matHeaderCellDef>Mã</th>
              <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
            </ng-container>

            <ng-container matColumnDef="buyerName">
              <th mat-header-cell *matHeaderCellDef> Tên khách hàng</th>
              <td mat-cell *matCellDef="let element"> {{element.buyerName}} </td>
            </ng-container>

            <ng-container matColumnDef="buyerPhone">
              <th mat-header-cell *matHeaderCellDef> Số điện thoại</th>
              <td mat-cell *matCellDef="let element"> {{element.buyerPhone}} </td>
            </ng-container>

            <ng-container matColumnDef="buyerAddress">
              <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
              <td mat-cell *matCellDef="let element"> {{element.buyerAddress}} </td>
            </ng-container>

            <ng-container matColumnDef="createTime">
              <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
              <td mat-cell *matCellDef="let element"> {{element.createTime | date: 'dd-MM-yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="orderStatus">
              <th mat-header-cell *matHeaderCellDef> Trạng thái đơn hàng</th>
              <td mat-cell *matCellDef="let element">
                <span style="color: red;font-size: 17px;font-family: Poppins">{{element.orderStatus | status}}</span>
              </td>
            </ng-container>


            <ng-container matColumnDef="orderAmount">
              <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
              <td mat-cell *matCellDef="let element">
                <span style="color: red;font-size: 17px;font-family: Poppins"> {{element.orderAmount | currency:"VND":true}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="action" style="margin-left: 199px">
              <th style="text-align: center" mat-header-cell *matHeaderCellDef> Hoạt động</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button mat-button color="primary" (click)="detailOrder(element)"><i class="material-icons">visibility</i>xem chi tiết</button>
                  <!-- <button mat-button color="warn" printSectionId="print-section" ngxPrint (click)="exportOrder(element)"><i class="material-icons" >local_printshop</i>xuất báo cáo</button> -->
<!--                  <button mat-button color="accent" (click)="deleteOrder(element.orderId)"><i class="material-icons" >delete</i>Huỷ đơn hàng</button>-->
                  <button mat-button color="primary" (click)="appoverOrder(element)"><i class="material-icons" >approval</i>cập nhật đơn hàng</button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        <!--table-->
      </div>
    </div>
  </div>
</div>

<!--  <div style="display: none;" id="content" #content>-->
<!--    <div class="inf-company">-->
<!--      <p>Lifesup shop</p>-->
<!--      <p>Địa chỉ : 86 Đinh bộ lĩnh , P 26, Q.Bình Thạnh ,TPHCM</p>-->
<!--      <p>ĐT: 012345678</p>-->
<!--    </div><hr>-->
<!--    <div class="info-order">-->
<!--      <p>Hóa đơn thanh toán</p>-->
<!--      <ul>-->
<!--        <li>Khách hàng :</li>-->
<!--        <li>Số điện thoại: </li>-->
<!--        <li>Địa chỉ:</li>-->
<!--        <li>Ngày lập HD:</li>-->
<!--        <li>Thu ngân:</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="list-detail">-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          <th scope="col">First</th>-->
<!--          <th scope="col">Last</th>-->
<!--          <th scope="col">Handle</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--          <td>@mdo</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Jacob</td>-->
<!--          <td>Thornton</td>-->
<!--          <td>@fat</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">3</th>-->
<!--          <td>Larry</td>-->
<!--          <td>the Bird</td>-->
<!--          <td>@twitter</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
<!--<body onload="window.print();">-->
