/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.customer-details{
  width: 100%;

}
.infor-items{
  width: 100%;
  font-size: 16px;
  display: flex;
}
.container{
  margin-top:50px;
}
th{
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
}
td{
  font-weight: bold;
}
