<h3><strong>Chi tiết đơn hàng mã: ({{ this.data.data.productsOrder[0].orderId }})</strong></h3>
<button mat-raised-button printSectionId="print-order" ngxPrint color="primary">
  Xuất PDF
</button>
<div class="container" id="print-order">
  <div class="customer-details">
    <div class="infor-items">
      <div ><strong>Tên khách hàng: {{ this.order?.buyerName }}</strong> </div>
    </div>
    <div class="infor-items">
      <div><strong> Địa chỉ: {{ this.order?.buyerAddress }}</strong></div>
    </div>
    <div class="infor-items">
      <div><strong> Số điện thoại: {{ this.order?.buyerPhone }}</strong></div>
    </div>
    <div class="infor-items">
      <div><strong> Email: {{ this.order?.buyerEmail }}</strong></div>
    </div>
<!--    <div class="infor-items">-->
<!--      <div><strong>Ghi chú:</strong>strong>{{ this.order?.comment }}</div>-->

<!--    </div>-->
    <div class="infor-items">
      <div><strong>Thời gian tạo: {{ this.order?.createTime | date: 'dd-MM-yyyy' }}</strong></div>
      <div></div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <!-- Symbol Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><strong>Mã</strong></th>
      <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
    </ng-container>

    <ng-container matColumnDef="productIcon">
      <th mat-header-cell *matHeaderCellDef><strong>Ảnh</strong></th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.productIcon | image1"
          alt=""
          srcset=""
          width="100"
          height="100"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef><strong>Tên sản phẩm</strong></th>
      <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef><strong>Giá sản phẩm</strong></th>
      <td mat-cell *matCellDef="let element">{{ element.productPrice | currency:"VND":true }}</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef><strong>Số lượng</strong></th>
      <td mat-cell *matCellDef="let element">{{ element.count }}</td>
    </ng-container>

    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef><strong>Ảnh</strong></th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.productIcon"
          alt=""
          srcset=""
          width="100"
          height="100"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div><strong>Tổng tiền: {{ this.order?.orderAmount | currency:"VND":true }}</strong></div>
</div>
