<div class="container-fluid pt-5" [formGroup]="formGroup">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Thông tin giao hàng</h4>
                <div class="row">

                    <div class="col-md-6 form-group">
                        <label>Họ tên</label>
                        <input class="form-control" type="text" placeholder="John" formControlName="name">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" placeholder="example@email.com" formControlName="account">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" type="text" placeholder="+123 456 789" formControlName="phone">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control" type="text" placeholder="123 Street" formControlName="address">
                    </div>

                  <div class="col-md-6 form-group">
                    <label>Chú thích</label>
                    <textarea class="form-control" placeholder="ghi chú (tùy chọn)" formControlName="comment"></textarea>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Đơn hàng ({{countTotal}}) sản phẩm </h4>
                </div>
                <div class="card-body" >
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    <div class="d-flex justify-content-between" *ngFor="let item of productsInCart" style="margin-top: 10px;">
                        <span>
                            <img src={{item.productIcon}} alt="" style="
                            height: 100px;
                            object-fit: cover;
                            font-size: 100px;">
                        </span>
                        <p>{{item.productName}}</p>
                      <p>{{item.count}}</p>
                        <p>{{item.productPrice | currency:"VND":true}}</p>
                    </div>

                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">{{this.priceTotal | currency:"VND":true}}</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Thanh toán</h4>
                </div>
                <div class="card-body">
                    <div class="form-group" >
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal" value="0" formControlName="payment">
                            <label class="custom-control-label" for="paypal">Thanh toán khi nhận hàng</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck" value="1" formControlName="payment">
                            <label class="custom-control-label" for="directcheck">Thanh toán qua thẻ ngân hàng</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button (click)="onCheckout()" class="btn btn-warning float-right">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
